{# filepath: /D:/wamp64/www/iut/apiSymfony/templates/user/reservation/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Create new Reservation</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn">Create</button>
{{ form_end(form) }}

<a href="{{ path('user_reservation_index') }}">Back to list</a>
{% endblock %}